@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.center_box {
    width: 35%;
    margin: auto;
    display: flex;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 0 2% 2% 0;
    padding: 2%;
}
.form_input {
    border-radius: 2px;
    padding: 0.75rem;
    margin: 5px;
    background-color: rgba(184, 184, 184, 0.39);
    width: 40vh;
    border: none;
}
.submit_button {
    background-color: #edae49;
    border: none;
    padding: 0.75rem;
    border-radius: 12px;
    width: 20vh;
    margin: 2%;
}
.form_title{
    color: #edae49;
    font-family: Arial, Helvetica, sans-serif; 
}
.form_link {
    align-self: flex-end;
    margin-right: 16%;
    font-size: 13px;
    color: #1446ad;
}