/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  background-image: url("./images/email-pattern.png");
  background-repeat: repeat;
  height: 100%;
}
