.ant-collapse {
  background: none;
}

.main_content {
  width: 75%;
  margin: auto;
}

.collapse {
  margin-top: 5vh;
}

.ant-collapse-header {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.ant-collapse-arrow svg {
  margin-top: 0.3vh;
}

.footer {
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dev_link {
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.747);
}
