.drawer_links {
  list-style: none;
  padding: 0;
}

.ant-drawer-header,
.ant-drawer-body {
  background-color: #151b26;
  border: none;
}

.ant-drawer-title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: larger;
}

.ant-drawer-close svg {
  fill: white;
}

.drawer_link {
  color: #9ca6af;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
}

.profile_button {
  float: right;
  /* border: none;
  background-color: #d1496b;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;*/
  margin: 5px;
}

.button_picture {
  border-radius: 50%;
  width: 100%;
}

.ant-dropdown {
  border-top: 3px solid #edae49;
}

.profile_pic {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
}

.ant-modal {
  width: 100vh;
}

.modal_title {
  display: flex;
  flex-direction: row;
}

.modal_username {
  align-self: center;
  margin-left: 2vh;
  width: 65%;
}

.firstname {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.hamburger {
  border: 1px;
  background: none;
  font-size: 3vh;
  /* color: #edae49; */
}

.drawer_text {
  color: #9ca6af;

  line-height: 32px;
}

.squircle {
  margin-right: 1vh;
  color: #35a7ff;
  font-size: 1vh;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

input[type="file"] + label {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  outline: 0;
  border: 1px solid transparent;
  cursor: pointer;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
}
