.projects_page {
  padding: 5vh;
}

.project_page_icon {
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  margin-left: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.projects_page_title {
  margin: 0;
  text-transform: capitalize;
}

.projects_page_center {
  display: flex;
  align-items: center;
}
