.search_bar {
  display: flex;
}

.scrollable {
  overflow-y: scroll;
  height: 35vh;
}
/* width */
::-webkit-scrollbar {
  width: 0.3vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #188fff2f;
}

.center_search {
  display: flex;
  align-items: center;
  margin: 0;
}
.center_title {
  display: flex;
  align-items: center;
  margin-left: 10vh;
  text-transform: capitalize;
}
.center_title2 {
  display: flex;
  align-items: center;
  margin-left: 40vh;
}
