@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.splash_header {
  margin-bottom: 0vh;
  font-family: "Poppins", sans-serif;
}

.left_content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 2vh;
  justify-content: center;
  align-items: center;
}

.splash_title {
  justify-self: center;
  align-self: center;
  font-size: 60px;
  margin-top: 50%;
  font-weight: 700;
  line-height: 1;
}

.splash_text {
  align-self: flex-start;
  width: 85%;
  color: rgb(84, 98, 133);
  font-size: 18px;
  line-height: 1.34;
  font-weight: 400;
}

.splash_button {
  align-self: flex-end;
  /* margin-left: 2vh; */
}

.image {
  width: 100%;
  margin-top: 25%;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.3);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.3);
box-shadow: 1px 2px 3px rgba(0,0,0,.3);
}
